<app-agent-nav></app-agent-nav>
<h4 align="center">Welcome {{Agent.fullName}}</h4>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 profile">
                 <a [routerLink]="['/agent/add-customer',Agent.id]">
                    <div class="text-center">
                        <img src="assets\images\agent_images\user.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Add Customer</h4>
                      </div>
                 </a>
                  
            </div>
            <div class="col-md-3 marketing">
                 <a href="agent_sendmail.html">
                    <div class="text-center">
                        <img src="assets\images\agent_images\marketing.jpg" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Marketing</h4>
                      </div>
                 </a>
            </div>
            <div class="col-md-3 view_customers">
                <a href="#">
                    <div class="text-center">
                        <img src="assets\images\agent_images\customers.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>View Customers</h4>
                      </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 insurance_account">
                <a href="Insurance-Account-DetailsCustomer.html">
                    <div class="text-center">
                        <img src="assets\images\agent_images\account.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Insurance Account</h4>
                      </div>
                </a>
            </div>
            <div class="col-md-3 policy_payment">
                <a href="View-Policy-Payment.html">
                    <div class="text-center">
                        <img src="assets\images\agent_images\policy payment.jpg" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Policy Payment</h4>
                      </div>
                </a>
            </div>
            <div class="col-md-3 ">
                <a href="View-policy-Claim-Records.html">
                    <div class="text-center policy_claim">
                        <img src="assets\images\agent_images\policy claim.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Policy Claim</h4>
                      </div>
                </a>
            </div>
        </div>
        
    </div>
