
<app-customer-nav></app-customer-nav>
<hr>
<h4 align="center">Welcome {{Customer.fullName}}</h4>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
             <a [routerLink]="'/customer/profile'">
                <div class="text-center">
                    <img src="assets\images\customer_dash_images\user.png" alt="" height="120px" width="120px">
                  </div>
                  <br>
                  <div class="text-center">
                    <h4>Profile</h4>
                  </div>
             </a>
              
        </div>
        <div class="col-md-3">
          <a [routerLink]="'/customer/view-insurance-account'">
            <div class="text-center">
                <img src="assets\images\customer_dash_images\account.png" alt="" height="120px" width="120px">
              </div>
              <br>
              <div class="text-center">
                <h4>Insurance Account</h4>
              </div>
        </a>
        </div>
        <div class="col-md-3">
          <a [routerLink]="'/customer/change-password'">
            <div class="text-center">
                <img src="assets\images\customer_dash_images\change_password.png" alt="" height="120px" width="120px">
              </div>
              <br>
              <div class="text-center">
                <h4>Change Password</h4>
              </div>
        </a>
        </div>
    </div>
 
    
</div>