.col-md-3{
    background-color: cadetblue;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    border-radius: 5px;
    
}
.col-md-3 a{
    text-decoration: none;
    color: aliceblue;
}