
<app-admin-nav></app-admin-nav>
<h4 align="center">Welcome {{Admin.fullName}}</h4>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                 <a [routerLink]="'/admin/view-agents'">
                    <div class="text-center">
                        <img src="assets\images\admin_images\agent.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Agents</h4>
                      </div>
                 </a>
                  
            </div>
            <div class="col-md-3">
                 <a [routerLink]="'/admin/view-employees'">
                    <div class="text-center">
                        <img src="assets\images\admin_images\employees.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Employees</h4>
                      </div>
                 </a>
            </div>
            <div class="col-md-3">
                <a [routerLink]="'/admin/view-customers'">
                    <div class="text-center">
                        <img src="assets\images\admin_images\customers.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>View Customers</h4>
                      </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <a [routerLink]="['/admin/view-insurance-schemes']">
                    <div class="text-center">
                        <img src="assets\images\admin_images\policies.png" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Insurance Plans & Policies</h4>
                      </div>
                </a>
            </div>
            <div class="col-md-3">
                <a [routerLink]="'/admin/view-policy-payment'">
                    <div class="text-center">
                        <img src="assets\images\admin_images\policy payment.jpg" alt="" height="120px" width="120px">
                      </div>
                      <br>
                      <div class="text-center">
                        <h4>Policy Payment</h4>
                      </div>
                </a>
            </div>
        </div>
        
    </div>