
<app-home-nav></app-home-nav>
<hr>
<h3 align="center">Login</h3>
<hr>

<div class="container">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="text-center">
              <img src="assets\images\home-images\userlogin.png" width="120px" height="130px">
          </div>

           <br>
           <form action="#" method="post">
             
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Username</span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
              </div>
              <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Password</span>
                  <input type="password" class="form-control" placeholder="Password" aria-label="Username" required>
              </div>
              
              <div class="text-center d-grid gap-2">
                  <input type="submit" value="Login" class="btn btn-danger btn-lg">
              </div>
           </form>
         
        
          
      </div>
  </div>
</div>
