<app-home-nav></app-home-nav>
<hr>
<h3 align="center">Login</h3>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="assets\images\home-images\userlogin.png" width="120px" height="130px">
            </div>

            <br>
            <form [formGroup]="customerLoginDetails">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username :</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        formControlName="username" required>
                        <div *ngIf="getControl.username.touched && getControl.username.invalid" class="text-danger">
                            <div *ngIf="getControl.username.errors">Username can't be empty.</div>
                            <br>
                    </div>

                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Password :</span>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                        formControlName="password" required>
                        <div *ngIf="getControl.password.touched && getControl.password.invalid" class="text-danger">
                            <div *ngIf="getControl.password.errors">Password is required. </div>
                            <br>
                    </div>

                </div>

                <div class="text-center d-grid gap-2">
                    <button type="submit" class="btn btn-danger btn-lg"[disabled]="customerLoginDetails.invalid" (click)="addCustomer()"class="btn btn-danger" (click)="onLoginClick()">Login</button>
                </div>
            </form>



        </div>
    </div>
</div>

