<div>

    <h4>Sun-Insurance ('SBI Life' / 'The Company'), one of the most trusted life insurance companies in India, was incorporated in October 2000 and is registered with the Insurance Regulatory and Development Authority of India (IRDAI) in March 2001.

        Serving millions of families across India, Sun-Insurance Life's diverse range of products caters to individuals as well as group customers through Protection, Pension, Savings and Health solutions.
        
        Driven by 'Customer-First' approach, Sun-Insurance places great emphasis on maintaining world class operating efficiency and providing hassle-free claim settlement experience to its customers by following high ethical standards of service. Additionally, Sun-Insurance is committed to enhance digital experiences for its customers, distributors and employees alike.
        
        Sun-Insurance strives to make insurance accessible to all, with its extensive presence across the country through its 970 offices, 18,401 employees, a large and productive individual agent network of about 161,923 agents, 56 corporate agents and 14 bancassurance partners with more than 40,000 partner branches, 119 brokers and other insurance marketing firms.
        
        In addition to doing what’s right for the customers, the company is also committed to provide a healthy and flexible work environment for its employees to excel personally and professionally.
        
        Sun-Insurance strongly encourages a culture of giving back to the society and has made substantial contribution in the areas of child education, healthcare, disaster relief and environmental upgrade. In 2021-22, the Company touched over 2 lakh direct beneficiaries through various CSR interventions.
        
        Listed on the Bombay Stock Exchange ('BSE') and the National Stock Exchange ('NSE'), the company has an authorized capital of Rs. 20.0 billion and a paid up capital of Rs. 10.0 billion. The AuM is Rs. 2,623.5 billion.</h4>

</div>
