<app-customer-nav></app-customer-nav>
<hr>
<h3 class="text-center">Insurance Account detail</h3><hr>

    <div style="margin-top: 5%; margin-bottom: 5px;" class="container border border-primary">
        <p><b>Customer Detail</b></p>
            <table class="table table-striped">
                <thead>
                    <tr> 
                        <th>Customer Name</th>
                        <th> Customer Address</th>
                        <th> Email-ID</th>
                        <th>Customer Mobile No.</th>
                        <th>Username</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Customer.fullName}}</td>
                        <td>{{Customer.address}}</td>
                        <td>{{Customer.emailId}}</td>
                        <td>{{Customer.mobileNo}}</td>
                        <td>{{Customer.username}}</td>
                        
                    </tr>
                </tbody>
            </table>
    </div>

    <div style="margin-top: 5%; margin-bottom: 5px;" class="container border border-primary">
        <p><b>Account Detail</b></p>
        <form autocomplete="off">
            <table class="table table-striped">
                <thead>
                    <tr> 
                        <th>Account Number</th>
                        <th> Insurance Type</th>
                        <th> Insurance Scheme</th>
                        <th>Date Created</th>
                        <th>Maturity Date</th>
                        <th>Premium Type</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{policy.id}}</td>
                        <td>{{policy.insuranceType}}</td>
                        <td>{{policy.insuranceSchemeName}}</td>
                        <td>{{policy.enrollDate}}</td>
                        <td>{{policy.maturityDate}}</td>
                        <td>{{policy.premiumType}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    
    
    <div style="margin-top: 5%; margin-bottom: 5px;" class="container border border-primary">
        <p><b>Premium Detail</b></p>
        <form autocomplete="off">
            <table class="table table-striped">
                <thead>
                    <tr> 
                        <th>Total Premium Ammount</th>
                        <th> Profit Ratio</th>
                        <th> Sum Assured</th>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{policy.investedAmount}}</td>
                        <td>{{policy.profitRatio}}</td>
                        <td>₹ {{policy.sumAssured}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div style="margin-top: 5%; margin-bottom: 5px;" class="container border border-primary">
        <p><b>Payment Detail</b></p>
       
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Installment No.</th>
                        <th>Installment Date</th>
                        <th>Installment Amount</th>
                        <th> Payment Status</th>
                        <th>Action</th>
        
                        </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let installment of policy.installments, let i=index">
                        <td>{{i+1}}</td>
                        <td>{{installment.date}} </td>
                        <td>₹ {{installment.installmentAmount}}</td>
                        <td>{{installment.status}}</td>
                        <td *ngIf="installment.status=='PENDING'; else elseBlock">
                          
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onPayClick(installment)">
                                PAY
                              </button>
                        
                        </td>
                        <ng-template #elseBlock>
                            <td>--</td>
                          </ng-template>
                        
            
                    </tr>

        

                </tbody>
            </table>


 
    </div>
    <div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form>
                      Installment Amount :<input class="form-control" type="text" name="" id="" value={{amountTobePaid}} disabled> <br>
                      Select Payment Type : <button type="button" class="btn btn-sm badge text-bg-warning" style="margin-left: 5px;" (click)="onCLickUPI()">UPI </button> 
                      <button type="button" class="btn btn-sm badge text-bg-warning" style="margin-left: 5px;" (click)="onClickDEBIT()">DEBIT CARD </button>  
                       <br> 
                      <div *ngIf="showUPI">
                             Your UPI ID: <input class="form-control" type="text" name="" id="" placeholder="xxxxxxxxxx@ybl etc..">
                             <br>
                      </div>
                      <div *ngIf="showDebit">
                             Card Holder : <input class="form-control" type="text" name="" id=""> <br>
                             Card Number : <input class="form-control" type="text"> <br>
                             CVV Number : <input class="form-control" type="text" name="" id=""> <br>
                             Expiry Date : <input class="form-control" type="date" name="" id=""> <br>
                      </div>
                     
                      <div *ngIf="payNow">
                      <button type="button" class="btn btn-danger" (click)="onClickProceedPayment()">Proceed Payment</button>
                    </div>
                      
            </form>
            {{message}}




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Okay</button>
        </div>
      </div>
    </div>
  </div>