<app-home-nav></app-home-nav>
<hr>
<div class="container">
    <h2 align="center">{{insurancePlan.insuranceScheme.insuranceType.insuranceType}}</h2>
    <hr>
    <h4>{{insurancePlan.insuranceScheme.insuranceSchemeName}}</h4>
    <div [innerHTML]="insurancePlan.insuranceScheme.description">

    </div>
     
    <br>
    <br>
    <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Minimum Age</th>
            <th>Maximum Age</th>
            <th>Minimum Policy Term</th>
            <th>Maximum Policy Term</th>
            <th>Minimum Investment Amount</th>
            <th>Maximum Investment Amount</th>
            <th>Profit Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{insurancePlan.minimumAge}}</th>
            <th>{{insurancePlan.maximumAge}}</th>
            <th>{{insurancePlan.minimumPolicyTerm}}</th>
            <th>{{insurancePlan.maximumPolicyTerm}}</th>
            <th>{{insurancePlan.minimumInvestment}}</th>
            <th>{{insurancePlan.maximumInvestment}}</th>
            <th>{{insurancePlan.profitRatio}}</th>

          </tr>
        </tbody>
      </table>
      <hr>

      <h4 align="center">Interest Calculator</h4>
      <hr>

      <div class="interestCalculator">
        <div class="container">
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">
              <table  class="table">
                <thead>
                  <tr>
                    <th scope="col">Policy Term</th>
                    <th scope="col">Total Investment Amount</th>
                    <th scope="col">Premium Type</th>
                    <th scope="col">Calculate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control" type="number" name="" id="" [(ngModel)]="policyTerm">
                    </td>
                    <td>
                      <input class="form-control" type="number" name="" id="" [(ngModel)]="investedAmount">
                    </td>
                    <td>
                      <select class="form-control" name="" id="" [(ngModel)]="premiumType">
                       
                        <option value=3>3 Months</option>
                        <option value=6>6 Months</option>
                        <option value=12>12 Months</option>
                      </select>
                    </td>
                    <td>
                      <input class="btn btn-danger" type="submit" value="Calculate" (click)="onClickCalculateInterest()">

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>               
      </div>

      <div align="center" class="interestResultBox" *ngIf="showInterest">
      <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">

              <table class="table table-bordered border-primary">
                <thead>
                  <tr>
                    <th scope="col">Total Investment</th>
                    <th scope="col">Installment Amount</th>
                    <th scope="col">Interest</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{investedAmount}}</td>
                    <td>{{installmentAmount}}</td>
                    <td>{{compoundInterest}}</td>
                  </tr>
                </tbody>
              </table>
                <h4> <a [routerLink]="'/customer/login'"> <i>Login to buy policy</i> </a></h4>
       </div>
            </div>
        </div>
      </div>
     
</div>




